<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Authentic Indian Snacks
            <br/>
            Delivered World Wide
        </h2>
        <p>
            Our global outreach brings premium, culturally rich snacks to international markets with unmatched quality
        </p>
        <a href="/contact" class="cs-button-solid">Contact Us Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="../assets/images/cphile/LOGO.png">
        <source media="(min-width: 601px)" srcset="../assets/images/cphile/LOGO.png">
        <img aria-hidden="true" decoding="async" src="../assets/images/cphile/LOGO.png.PNG" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>