---
title: 'Distribution | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Distribution
    order: 3200
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <div class="carousel-container">
      <img src="../assets/images/cphile/header/distri.jpeg" alt="Product Header" class="carousel-image">
    </div>



    {% include 'components/cta.html' %}

{% endblock %}