---
title: 'Export | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Export
    order: 3100
    parent: Services
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <div class="carousel-container">
      <img src="../assets/images/cphile/header/WhatsApp Image 2025-03-26 at 12.08.06.jpeg" alt="Product Header" class="carousel-image">
    </div>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

   /

    {% include 'components/cta.html' %}

{% endblock %}