---
title: 'Products | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'Products/'
eleventyNavigation:
    key: Products
    order: 300
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <div class="carousel-container">
        <img src="/assets/images/cphile/header/PRODUCT.png" alt="Product Header" class="carousel-image">
    </div>

    <!-- ============================================ -->
    <!--                  Reviews                     -->
    <!-- ============================================ -->

    {% include 'components/cta.html' %}

{% endblock %}