---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<section id="hero-carousel" class="hero-carousel">
  <div class="carousel-container">
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/carousel/carousel.png" alt="Image 1">
    </div>
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/carousel/carouso_.png" alt="Image 2">
    </div>
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/our products/PRODUCT.png" alt="Image 3">
    </div>
  </div>
</section>

<!-- Products Section -->
<section id="products" class="hero-carousel">
  <h3 class="title">Our Products</h3>
  <p>Explore our curated snack range, where innovation meets tradition to deliver unforgettable taste experiences.</p>
  <div class="carousel-container">
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/our products/bhujiya.png" alt="Namkeen">
      <h4>Namkeen</h4>
      <p>Savor our authentic namkeen, prepared with time-honored recipes and the finest ingredients for irresistible taste.</p>
    </div>
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/our products/chips.png" alt="Chips">
      <h4>Chips</h4>
      <p>Enjoy our perfectly crisp chips, crafted from premium potatoes for an impeccable crunch and flavor.</p>
    </div>
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/our products/namkeen.png" alt="Chips">
      <h4>Chips</h4>
      <p>Enjoy our perfectly crisp chips, crafted from premium potatoes for an impeccable crunch and flavor.</p>
    </div>
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/our products/PRODUCT.png" alt="Other Products">
      <h4>Other Snacks</h4>
      <p>Discover a variety of innovative snacks that cater to every taste and occasion.</p>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="services" class="hero-carousel">
  <h3 class="title">Our Services</h3>
  <p>Discover our comprehensive solutions, from expert distribution to global exports.</p>
  <div class="carousel-container">
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/services/distribution final .png" alt="Distribution">
      <h4>Distribution</h4>
      <p>Benefit from our efficient, quality-driven network ensuring timely delivery and broad market reach.</p>
    </div>
    <div class="carousel-slide">
      <img src="../assets/images/cphile/website final/services/Global export.png" alt="Export">
      <h4>Export</h4>
      <p>Our global outreach brings premium, culturally rich snacks to international markets with unmatched quality.</p>
    </div>
  </div>
</section>


<!-- Why Us Section -->
<section id="why-us" class="hero-carousel">
  <h3 class="title">Why Us</h3>
  <ul>
    <li><strong>Premium Procurement:</strong> We procure premium ingredients from trusted sources, ensuring freshness, purity, and superior taste in every bite.</li>
    <li><strong>Contamination-Free Processing:</strong> Automated production lines and separate dehumidified packaging areas with minimal human contact ensure hygiene.</li>
    <li><strong>Reliable Distribution:</strong> A strong logistics network ensures timely delivery and broad market reach.</li>
    <li><strong>Export Quality Product:</strong> We ensure export quality standards with premium ingredients and strict hygiene for global excellence.</li>
    <li><strong>Sustainable Model:</strong> Ethical sourcing, minimal waste, and eco-friendly packaging for a better future.</li>
  </ul>

    <div class="carousel-container">
      <div class="carousel-slide">
        <img src="../assets/images/cphile/website final/why us.png" alt="Distribution">
      </div>
    </div>
</section>

{% include 'components/cta.html' %}
<script src="/assets/js/carousel.js" defer></script>
{% endblock %}